@page {
  size: A4;
  margin: 0.5cm;
}

body {
  font-family: '標楷體', DFKai-sb, BiauKai;
  margin: 0;
  padding: 0;
  background-color: white;
}

p {
  font-size: 14px;
  letter-spacing: -0.05em !important;
}
